:root {
    --vh: 100vh;
}

/** Basket burger menu */
.nav #basket {
    display: none;
}

.mapblock {
    box-sizing: border-box;
    border: 5px solid #000000;
    -webkit-border-radius: 18px / 20px;
    -moz-border-radius: 18px / 20px;
    border-radius: 18px / 20px;
    overflow-y: auto;
    scrollbar-width: auto;
    -ms-overflow-style: none;
    margin-bottom: 70px;
    margin-right: 2%;
    height: 90vh;
    display: inline-block;
    width: 45%;
}

.mapblock::-webkit-scrollbar {
    display: none;
}

.amcharts-chart-div {
    text-align: center;
}

.dotdetail {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.dotdetail .dotdetailtext {
    visibility: hidden;
    width: 500px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.dotdetail:hover .dotdetailtext {
    visibility: visible;
}

/* css de chaque région */
#Auvergne-Rhône-Alpes {
    display: visible;
}

#Centre-Val-de-Loire {
    display: visible;
}

#Pays-de-la-Loire {
    display: visible;
}

#Occitanie {
    display: visible;
}

#Hauts-de-France {
    display: visible;
}

#Normandie {
    display: visible;
}

#Provence-Alpes-Côte-dAzur {
    display: visible;
}

#Île-de-France {
    display: visible;
}

#Bourgogne-Franche-Comté {
    display: visible;
}

#Bretagne {
    display: visible;
}

#Grand-Est {
    display: visible;
}

#Nouvelle-Aquitaine {
    display: visible;
}

#g_Bretagne {
    transform: translateX(0) translateY(0) scale(1);
}

#g_Bourgogne-Franche-Comté {
    transform: translateX(0) translateY(0) scale(1);
}

#g_Auvergne-Rhône-Alpes {
    transform: translateX(0) translateY(0) scale(1);
}

#g_Centre-Val-de-Loire {
    transform: translateX(0) translateY(0) scale(1);
}

#g_Pays-de-la-Loire {
    transform: translateX(0) translateY(0) scale(1);
}

#g_Occitanie {
    transform: translateX(0) translateY(0) scale(1);
}

#g_Hauts-de-France {
    transform: translateX(0) translateY(0) scale(1);
}

#g_Normandie {
    transform: translateX(0) translateY(0) scale(1);
}

#g_Provence-Alpes-Côte-dAzur {
    transform: translateX(0) translateY(0) scale(1);
}

#g_Île-de-France {
    transform: translateX(0) translateY(0) scale(1);
}

#g_Grand-Est {
    transform: translateX(0) translateY(0) scale(1);
}

#g_Nouvelle-Aquitaine {
    transform: translateX(0) translateY(0) scale(1);
}

.centralblock {
    display: flex;
    justify-content: space-evenly;
}#closebutton {
    z-index: 1;
    display:"visible";
}






.listblock {
    box-sizing: border-box;
    border: 5px solid #000000;
    overflow-y: auto;
    -webkit-border-radius: 18px / 20px;
    -moz-border-radius: 18px / 20px;
    border-radius: 18px / 20px;
    scrollbar-width: auto;
    -ms-overflow-style: none;
    margin-left: 2%;
    margin-bottom: 70px;
    height: 90vh;
    display: inline-block;
    width: 45%;
}

.listblock::-webkit-scrollbar {
    display: none;
}


.bouton-menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    overflow: hidden;
    background: #fff;
    color: #000;
    line-height: 50px;
    text-align: center;
    font-size: 40px;
    cursor: pointer;
    transition: all .5s;
}

#close-menu {
    display: none;
}

#basket {
    transition: transform .5s;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 480px;
    background: #fff;
    transform: translateY(-300px);
    box-sizing: border-box;
    border: 2px solid #000000;
    overflow-y: auto;
    overflow-y: auto;
    scrollbar-width: auto;
    -ms-overflow-style: none;
}

#basket.show-menu {
    transform: translateY(51px);
}

/**Bouton filter résultat Reset*/
.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.flex-child {
    -webkit-box-flex: 1 1 auto;
    -moz-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: #ffffff;
    padding: 10px;
}

/**Pour le filtre*/

.filter {
    display: flex;
    /** flex-wrap: wrap; */
    align-content: center;
    padding-right: 2.5%;
    padding-left: 2.5%;
    background-color: #ffffff;
}

.filter>div {
    /** background-color: #ffffff;*/
    width: 33%;
    text-align: center;
    line-height: 100%;
    font-size: 100%;
}

#bulletpoint {
    list-style-type: none;
    text-align: center;
    padding: 0%;
}

#bulletpoint_long {
    columns: 2;
    list-style-type: none;
    text-align: center;
    padding: 0%;
}