:root {
    --vh: 100vh;
}

.filter,
.flex-child,
.footer,
.header {
    background-color: #156531;
    box-shadow: 1px 1px 1px 1px #0e4321;
}

.header,
.footer {
    border-radius: 5%;
}

.body {
    background-color: #1D8742
}


/** Basket burger menu */
.nav #basket {
    display: none;
}

.mapblock {
    box-sizing: border-box;
    border: 5px solid #000000;
    background-color: #1E433C;
    -webkit-border-radius: 18px / 20px;
    -moz-border-radius: 18px / 20px;
    border-radius: 18px / 20px;
    scrollbar-width: auto;
    -ms-overflow-style: none;
    margin-bottom: 70px;
    margin-right: 2%;
    height: 90vh;
    display: inline-block;
    width: 45%;
}

.mapblock::-webkit-scrollbar {
    display: none;
}

.amcharts-chart-div {
    text-align: center;
}

.dotdetail {
    position: relative;
    font-weight: bolder;
    font-size: larger;
    display: inline-block;
    border-bottom: 2px dotted black;
}

.dotdetailtext {
    font-weight: normal;
    font-size: normal;
}

.dotdetail .dotdetailtext {
    visibility: hidden;
    width: 35vw;
    background-color: #156531;
    box-shadow: 1px 1px 1px 1px #0e4321;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;



    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    right: 50%;
}

.dotdetail:hover .dotdetailtext {
    visibility: visible;
}

.dotdetail,
.addButton,
.subButton {
    margin-left: 90%;
}

.addButton,
.subButton {
    border: 2px solid #000;
    border-radius: 50%;
    overflow: hidden;
    color: #000;
    background-color: #ffffff;
}
.addButton:hover,
.subButton:hover{
    background-color: #156531;
}
/* css de chaque région */
#Auvergne-Rhône-Alpes {
    display: visible;
}

#Centre-Val-de-Loire {
    display: visible;
}

#Pays-de-la-Loire {
    display: visible;
}

#Occitanie {
    display: visible;
}

#Hauts-de-France {
    display: visible;
}

#Normandie {
    display: visible;
}

#Provence-Alpes-Côte-dAzur {
    display: visible;
}

#Île-de-France {
    display: visible;
}

#Bourgogne-Franche-Comté {
    display: visible;
}

#Bretagne {
    display: visible;
}

#Grand-Est {
    display: visible;
}

#Nouvelle-Aquitaine {
    display: visible;
}

#g_Bretagne {
    transform: translateX(0) translateY(0) scale(1);
}

#g_Bourgogne-Franche-Comté {
    transform: translateX(0) translateY(0) scale(1);
}

#g_Auvergne-Rhône-Alpes {
    transform: translateX(0) translateY(0) scale(1);
}

#g_Centre-Val-de-Loire {
    transform: translateX(0) translateY(0) scale(1);
}

#g_Pays-de-la-Loire {
    transform: translateX(0) translateY(0) scale(1);
}

#g_Occitanie {
    transform: translateX(0) translateY(0) scale(1);
}

#g_Hauts-de-France {
    transform: translateX(0) translateY(0) scale(1);
}

#g_Normandie {
    transform: translateX(0) translateY(0) scale(1);
}

#g_Provence-Alpes-Côte-dAzur {
    transform: translateX(0) translateY(0) scale(1);
}

#g_Île-de-France {
    transform: translateX(0) translateY(0) scale(1);
}

#g_Grand-Est {
    transform: translateX(0) translateY(0) scale(1);
}

#g_Nouvelle-Aquitaine {
    transform: translateX(0) translateY(0) scale(1);
}

.centralblock {
    display: flex;
    justify-content: space-evenly;
}#closebutton {
    z-index: 1;
    display: "visible";
}

.amcharts-chart-div {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 90hv;
    padding: 0px;
    touch-action: none;
}

.pindetail:hover .pindetailtext {
    visibility: visible;
}

[id^="pin_"] {
	position: absolute;
	padding: 1em;

  display: none;
  pointer-events: none;
}


.mapblock{
    background-color:#1E433C

}
.amcharts-main-div {
    position: relative;
}

#chartdiv {
    height: 90vh; 
    overflow: hidden; 
    text-align: left;
}

/*hover css */
.pindetail .pindetailtext {
    visibility: hidden;
    width: 35vw;
    background-color: #156531;
    box-shadow: 1px 1px 1px 1px #0e4321;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    right:50%;
}

.pindetail:hover .pindetailtext {
    visibility: visible;
}

[id^="pin_"] {
	position: absolute;
	padding: 1em;

  display: none;
  pointer-events: none;
}


.mapblock {
    background-color: #1E433C
}

.listblock {
    box-sizing: border-box;
    border: 5px solid #000000;
    overflow-y: auto;
    -webkit-border-radius: 18px / 20px;
    -moz-border-radius: 18px / 20px;
    border-radius: 18px / 20px;
    scrollbar-width: auto;
    -ms-overflow-style: none;
    margin-left: 2%;
    margin-bottom: 70px;
    height: 90vh;
    display: inline-block;
    width: 45%;
}

.listblock::-webkit-scrollbar {
    display: none;
}

.showinglist {
    font-size: 5%;
}

#searchBar {
    position: absolute;
    top: 0;
    right: 52px;
    height: 44px;
    font-size: 17px;
}

.bouton-panier {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    overflow: hidden;
    background: #fff;
    color: #000;
    line-height: 50px;
    text-align: center;
    font-size: 40px;
    cursor: pointer;
    transition: all .5s;
}

#close-menu {
    display: none;
}

#basket {
    transition: transform .5s;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 480px;
    background: #fff;
    transform: translateY(-300px);
    box-sizing: border-box;
    border: 2px solid #000000;
    overflow-y: auto;
    overflow-y: auto;
    scrollbar-width: auto;
    -ms-overflow-style: none;
}

#basket.show-menu {
    transform: translateY(51px);
}

/**Bouton filter résultat Reset*/
.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding: 1%;
}

.flex-child {
    -webkit-box-flex: 1 1 auto;
    -moz-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.flex-child:hover{
    background-color: #24A854;
    box-shadow: 3px 3px 3px 3px #1E433C;
}

.flex-child:active{
    background-color: #0b7431;
    box-shadow: 3px 3px 3px 3px #0b1f1b;
}

/**Pour le filtre*/

.filter {
    display: flex; 
    border-radius: 2%;
    justify-content: center;
    align-content: center;
}

.filter_five {
    font-size: large;
    font-weight: bold;
    text-decoration: underline;

}

.filter>div {
    width: 33%;
    text-align: center;
    line-height: 100%;
    font-size: 100%;
}

#bulletpoint,
#bulletpoint_long {
    list-style-type: none;
    text-align: left;
}

#bulletpoint_long {
    columns: 2;
}