/**initiation variables*/
:root {
    --vh: 100vh;
  }
/** Basket burger menu */
.nav #basket {
    display: none;
}

.mapblock {
    box-sizing: border-box;
    border: 5px solid #000000;
    -webkit-border-radius: 18px / 20px;
    -moz-border-radius: 18px / 20px;
    border-radius: 18px / 20px;
    overflow-y: auto;
    scrollbar-width: auto;
    -ms-overflow-style: none;
    margin-bottom: 70px;
    margin-right: 2%;
    height: 90vh;
    display:inline-block;
    width:45%;
}
.mapblock::-webkit-scrollbar{
    display: none;
}
.amcharts-chart-div {
    text-align: center;
}
/* css de chaque région */
#auvergne-rhone-alpes {
    display:visible;
}
#centre-val-de-loire {
    display:visible;
}
#pays-de-la-loire {
    display:visible;
}
#occitanie {
    display:visible;
}
#hauts-de-hrance {
    display:visible;
}
#normandie {
    display:visible;
}
#provence-alpes-cote-dazur {
    display:visible;
}
#ile-de-france {
    display:visible;
}
#bourgogne-franche-comté {
    display:visible;
}
#bretagne {
    display:visible;
}
#grand-est {
    display:visible;
}
#nouvelle-aquitaine {
    display:visible;
}

#g_bretagne {
    transform: translateX(0) translateY(0) scale(1);
}
#g_bourgogne-franche-comte {
    transform: translateX(0) translateY(0) scale(1);
}
#g_auvergne-rhone-alpes {
    transform: translateX(0) translateY(0) scale(1);
}
#g_centre-val-de-loire {
    transform: translateX(0) translateY(0) scale(1);
}
#g_pays-de-la-loire {
    transform: translateX(0) translateY(0) scale(1);
}
#g_occitanie {
    transform: translateX(0) translateY(0) scale(1);
}
#g_hauts-de-france {
    transform: translateX(0) translateY(0) scale(1);
}
#g_normandie {
    transform: translateX(0) translateY(0) scale(1);
}
#g_provence-alpes-cote-dazur {
    transform: translateX(0) translateY(0) scale(1);
}
#g_ile-de-france {
    transform: translateX(0) translateY(0) scale(1);
}
#g_grand-est {
    transform: translateX(0) translateY(0) scale(1);
}
#g_nouvelle-aquitaine {
    transform: translateX(0) translateY(0) scale(1);
}





.listblock {
    box-sizing: border-box;
    border: 5px solid #000000;
    overflow-y: auto;
    -webkit-border-radius: 18px / 20px;
    -moz-border-radius: 18px / 20px;
    border-radius: 18px / 20px;
    scrollbar-width: auto;
    -ms-overflow-style: none;
    margin-left: 2%;
    margin-bottom: 70px;
    height: 90vh;
   display:inline-block;
   width:45%;
}
.listblock::-webkit-scrollbar{
    display: none;
}


.bouton-menu{
    position:absolute;
    top:0;
    right:0;
    width:50px;
    height:50px;
    overflow:hidden;
    background:#fff;
    color:#000;
    line-height:50px;
    text-align:center;
    font-size:40px;
    cursor:pointer;
    transition:all .5s;
}
#close-menu{
    display: none;
}
#basket{
    transition:transform .5s;
    position:absolute;
    top: 0;
    right: 0;
    width:100%;
    max-width:480px;
    background:#fff;
    transform:translateY(-300px);
    box-sizing: border-box;
    border: 2px solid #000000;
    overflow-y: auto;
    overflow-y: auto;
    scrollbar-width: auto;
    -ms-overflow-style: none;
}
#basket.show-menu{
    transform:translateY(51px);
}

/**Bouton filter résultat Reset*/
.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.flex-child {
    -webkit-box-flex: 1 1 auto;
    -moz-box-flex:  1 1 auto;
    -webkit-flex:  1 1 auto;
    -ms-flex:  1 1 auto;
    flex:  1 1 auto;
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: #ffffff;
    padding: 10px;
}

/**Pour le filtre*/

.filter {
    display: flex;
    justify-content: space-around;
    /** flex-wrap: wrap; */
    align-content: center;
    padding-right:2.5%;
    padding-left: 2.5%;
    background-color: #ffffff;
  }
  
.filter form > div {
    /** background-color: #ffffff;*/
    width: 33%;
    text-align: center;
    line-height: 100%;
    font-size: 100%;
}

#bulletpoint{
    list-style-type: none;
    text-align: center;
    padding: 0%;
}

#bulletpoint_long{
    columns: 2;
    list-style-type: none;
    text-align: center;
    padding: 0%;
}
